<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dashboard</h1>
    <a href="/">Back to Home</a>
    <li>
        <ul>
            <% events.forEach(e => { %>
            <li>
                <h3><%= e.event %></h3>
                <p><%= e.description%></p>
                <p><%= e.link%></p>
                <form action="/deleteEvent" method="POST">

            <input
                type="hidden"
                name="id"
                value="<%= e._id %>"
            >

            <button type="submit">
                Delete
            </button>

        </form>
        <form action="/editEvent/<%= e._id %>" method="POST">
            <button type="submit">Edit</button>
        </form>

                    <a href="/events/<%= e._id %>/map">View on Map</a>
                </li>
            <% }) %>
        </ul>
    </li>
</body>
</html>