<!DOCTYPE html>
<html>
<head>
  <title>Refactor App</title>
  <link rel="stylesheet" href="/adminStyles.css">
</head>
<body>

  <h1>Event</h1>
  <a href="/">Back to Home</a>
  <form id="eventForm" class="form" action="/index/create" method="POST">
    <div id="textInput">
     <label><h3>Event Title</h3></label>
    <input id="event" name="event" placeholder="Event title" required>

    <h3>Event Description</h3>
    <input id="description" name="description" placeholder="Brief overview of event" required>
    </div>
    <div id="buildingCheck">
    <% buildings.forEach(b => { %>
      <div class="formOption">
          <h3><%= b.building %></h3>
          <% b.rooms.forEach((r, i) => {%>
            <li class="roomCheck" >
              <% const safeId = `b_${b._id}_${i}` %>
              <ul>
                <input type="checkbox" name="room" value="<%= safeId %>" id="<%= safeId %>" class="room">
                <label for="<%= safeId %>"><%= r %></label>
                <input type="hidden" name="roomName_<%= safeId %>" value="<%= r %>">
              </ul>
              <ul>
                <input name="roomDesc_<%= safeId %>" placeholder="Description" style="display:block">
              </ul>
            </li>
          <% }) %>        
      </div>
    <% }) %>
    </div>
    <button>Add</button>
  </form>

  
</body>
</html> 
<!-- <script>function toggleVisibility(i) {
    if(i.checked == true){
      alert("hiii");
      i.style = "display:block";}
    else {i.style="display:none";}
  } 
</script> -->
