<!DOCTYPE html>
<html>
<head>
  <title>Refactor App</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <h1>Messages</h1>

  

  <form action="/admin" method="POST">
    <input name="event" placeholder="Event title">
    <button>Add</button>
  </form>
  <form action="/admin" method="POST">
    <h3>Science Building :3c</h3>
    <ul>
      <input type="checkbox" name="sb75" onClick="toggleVisibility(0)" id="sb75">
      <label for="sb75">SB75</label>
      <input name="sb75" placeholder="Description" style="display:none" id="0">
      <button>Add</button>
    </ul>
    <ul>
      <input type="checkbox" name="sb74" onClick="toggleVisibility(1)" id="sb74">
      <label for="sb74">SB74</label>
      <input name="sb74" placeholder="Description" style="display:none" id="1">
      <button>Add</button>
    </ul>
    <ul>
      <input type="checkbox" name="sb73" onClick="toggleVisibility(2)" id="sb73">
      <label for="sb73">SB73</label>
      <input name="sb73" placeholder="Description" style="display:none" id="2">
      <button>Add</button>
    </ul>
  </form>

  <ul>
    <% messages.forEach(m => { %>
      <li>
        <%= m.message %>
        <form action="/messages/delete/<%= m._id %>" method="POST" style="display:inline;">
          <button>Delete</button>
        </form>
        <a href="/messages/edit/<%= m._id %>">
          <button type="button">Edit</button>
        </a>
      </li>
    <% }) %>
  </ul>

  <!-- <hr> -->

  <!-- <h1>Users</h1>

  <form action="/users" method="POST">
    <input name="name" placeholder="New user">
    <button>Add</button>
  </form>

  <ul>
    <% users.forEach(u => { %>
      <li>
        <%= u.name %>
        <form action="/users/delete/<%= u._id %>" method="POST" style="display:inline;">
          <button>Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>

</body>-->
</html> 
<script>function toggleVisibility(i) {
    if(sb75.checked == true){
      alert("hiii");
      i.style = "display:block";}
    else {i.style="display:none";}
  } </script>